body {
    background-color: #f9f9f9
;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #121212;
}

h1, h2, h3, h4 {
    line-height: 1.5;
}

h1 {
    font-size: 2.75em;
    line-height: 1.5;
    font-weight: 700;
    color: #3c728d;
}

h2 {
    font-size: 2.25em;
    line-height: 1.5;
    font-weight: 700;
    color: #3c728d;
}

h3 {
    font-size: 1.75;
    line-height: 1,5;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    line-height: 1.5;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}

img {
    width: 100%;
}

a {
    color: #5c0c0c;
    text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
    color: #ff7f50
}
a:hover {
    color: #800000;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
    color: #a72b2b;
    text-decoration: underline;
}
a:active { /* selected link */
    color: #400606;
}
.button {
    display: inline-block;
    background-color: #5c0c0c;
    color: #f9f9f9;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #800000;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    opacity: 0.6;
}
.button.contact {
    background-color: transparent;
    color: #5c0c0c;
    text-transform: uppercase;
    border: 2px solid #5c0c0c;
}
.button.contact:hover {
    background-color: #f9f9f9;
    color: #a72b2b;
}